   <div class="container">
       <h2>PROJETOS</h2>
            <div class="content">
       
               <div class="card">
                 <a href="https://github.com/hellyaxs/siteProjetado" target="_blank">
       
                         <div class="icon"><i class="material-icons md-36">school</i></div>
                         <p class="title">Site Escola</p>
                         <p class="text">Site Desenvolvido em PHP para a gestão de alunos.</p>
                    </a>
               </div>
               <!-- end card -->
               <!-- card -->
               <div class="card">
       
                <a href="https://github.com/hellyaxs/lojaMaterialise" target="_blank">
                     <div class="icon"><i class="material-icons md-36">store</i></div>
                     <p class="title">Loja feminina</p>
                     <p class="text">Objetivo desta aplicação era implementar o framework Materialize.</p>
                </a>
               </div>
               <!-- end card -->
               <!-- card -->
               <div class="card">
                <a href="https://github.com/hellyaxs/MyPortifolio" target="_blank">
                     <div class="icon"><i class="material-icons md-36">web</i></div>
                     <p class="title">Meu Portifolio</p>
                     <p class="text">Projeto desenvolvido de em Angular para fixar o conhecimento.</p>
                </a>
               </div>
               <!-- end card -->
            </div>
       
   </div>