input[type="checkbox"]{

    position: absolute;
    display: none;
    
}
input[type="checkbox"]:checked ~.modal-colores{

      display: flex;
      animation: bounce-in-right 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
input[type="checkbox"]:not(:checked) ~.modal-colores{

    display: none; 
    transition: all linear 1.1s;
    animation: bounce-in-right 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) reverse both;   
}

.button-circle{
    position: absolute;
    top: 6rem;
    right: 1.3rem;
    z-index: 1;
    padding:6px;
    
}
i{
    margin-left:4px;
    display:block;
    transform: rotate(360deg);
    transition: all linear 1s;
}
i:hover{
    transform: rotate(0deg);
    transition: all linear 1s;
}

.modal-colores{

   position: absolute;
   padding:12px 12px 12px 12px;
   top:5.6rem;
   right: 4.4rem;
   width: 200px;
   height: 50px;
   display:none;
   border-radius:1rem;
   animation: bounce-in-right 1.1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}
.caixa{
    
    width: 100%;
    justify-content: space-around;
}

.colors{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display:flex;
    cursor: pointer;
    transition: all linear 200ms;
    
}
.colors:hover{
        transform: scale(1.3);
        transition: all linear 200ms;
}
@keyframes bounce-in-right {
    0% {
      -webkit-transform: translateX(60px);
              transform: translateX(60px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: translateX(68px);
              transform: translateX(68px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: translateX(32px);
              transform: translateX(32px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    90% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: translateX(8px);
              transform: translateX(8px);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }