
.button-primary{
    width: 37px;
    height: 37px;
    border-radius: 50%;
    position: absolute;
    top: 6rem;
    right: 1.3rem;
    z-index: 1;
    transform: rotate(360deg);
    transition: all linear 0.9s;
  
}

.button-primary:hover{
    transform: rotate(0deg);
    transition: all linear 0.9s;
    
}
.button-primary:active{
    transform: rotate(2);
    transition: all linear 0.3s;
    
}
.button-circle:active ~.modal-colores{
    display: flex;
}
.modal-colores{

   position: absolute;
   padding:0.6rem;
   top:6rem;
   right: 3rem;
   width: 200px;
   height: 100px;
   display:none;
   background-color: aqua;
   border-radius:1.5rem ;

}
.modal-colores::after{

}

.colors{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display:flex;
    background: #000;
}