.center > p{
    color:tomato;
    margin-bottom: 0rem;
}

.center{
    width:100%;
    text-align: center;
    margin-top:2rem;
    margin-bottom: 3rem;
}
.card{
    z-index:0.5;
    width: 17rem;
    height: 8rem;
    background-color: burlywood;
}