/* Header.css */
.header-container {
  position: fixed;
  width: 100%;
  top: 0;
  height: 3.5rem;
  font-weight: 600;
  font-size: 1.2rem;
  z-index: 10;
  background: var(--background); /* Supondo que você use variáveis CSS */
}

.header-container a {
  color: var(--text-primary);
}

@media (min-width: 995px) {
  .header-container {
    display: flex;
    height: 4rem;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
    box-shadow: var(--background) 0px 10px 30px 1px;
  }
}

@media (min-width: 2000px) {
  .header-container {
    justify-content: space-evenly;
  }
}

.mobile-content {
  font-weight: 700;
  font-size: 1.2rem;
}

.mobile-content a {
  display: flex;
  align-items: center;
}

.mobile-content .logo {
  margin-right: 0.5rem;
}

.mobile-content .logo-name {
  font-size: 1.2rem;
  transition: all 500ms;

  &:hover {
    color: var(--first-color);
    transition-duration: 100ms;
    margin-top: -0.5rem;
  }
}

@media (max-width: 994px) {
  .mobile-content {
    margin: 0.5rem 1rem;
  }
}

.mobile-icon {
  display: none;
}

@media (max-width: 994px) {
  .mobile-icon {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    z-index: 20;
  }
}

.nav-menu {
  @media (max-width: 994px) {
    height: 100vh;
    width: 100vw;
    background: var(--background);
    z-index: 10;
    opacity: 0.95;
    position: fixed;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
}

.nav-menu.open {
  transform: translateX(0);
}

.nav-menu ul {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
  align-items: center;
}

.nav-menu ul a {
  gap: 2px;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-primary);
  height: 1rem;
  cursor: pointer;
}

.nav-menu ul a span {
  line-height: 1.08;
  white-space: nowrap;
  position: relative;
}

.nav-menu ul a span:before {
  content: '';
  height: 2px;
  width: auto;
  background-color: var(--first-color);
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  bottom: -6px;
  left: 0px;
  right: 0px;
  opacity: 0;
  transform-origin: left center;
  transform: scaleX(0);
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  visibility: hidden;
}

.nav-menu ul a:hover {
  color: var(--first-color);
}

.nav-menu ul a:hover span:before {
  transform: scaleX(1);
  visibility: visible;
  opacity: 1;
}

@media (max-width: 994px) {
  .nav-menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    gap: 1.8rem;
  }
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  margin-top: 1.7rem;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (min-width: 995px) {
  .icons {
    display: none;
  }
}
