.card{
    height: 11rem;
    border-radius:12px;
}
.icon{
    font-size: 2rem;
    margin:1rem;
}
textarea{
    position: absolute;
    bottom:5rem;
    right:15rem;
    border-radius: 2.5rem;
    padding: 1rem;
}
.button-primary{
    position: absolute;
    bottom:1.5rem;
    right:15rem;
}
