<div class="tracking-in-expand">
    <div class="center">
        <p>MAIN INFO</p>
        <h2>About me</h2>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <div class="profile-img"></div>
   
                <ul class="redes-socias">
                    <li *ngFor="let redesSocias of redesSocial">
                        <a [href]="redesSocias.link" target="_blank">
                            <button class="button-circle m-2"><i [class]="redesSocias.icon"></i></button>
                        </a>
                    </li>
                </ul>
        </div>
        <div class="col-sm-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dolorem saepe? Itaque qui a non
                facilis sint, perferendis autem maiores similique cumque consequuntur laudantium ducimus hic ipsum
                expedita pariatur blanditiis!
            </p>

            <ul>
                <li>
                    <a href="/assets/Currículo.pdf" download>
                         <button class="button-primary shadow m-3">Donwload CV</button>
                    </a>
                </li>
                <li><button class="button-primary shadow m-3">hire me</button></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6" *ngFor="let skills of skills">
            <div class="skills-title">
                <p>{{skills.icon}}</p>
                 <span class="skills-progresso" [ngStyle]="{'left.%':skills.link}"><p>{{skills.link}}%</p></span>
            </div>
            <div class="skills">
                <span class="porcento scale-up-hor-left" [ngStyle]="{'width.%': skills.link}"></span>
            </div>
        </div>
    </div>

    
    
     
</div>