ul{
    display:flex;
    list-style-type: none;
    margin-top:1rem;
}
.center > p{
    color:tomato;
    margin-bottom: 0rem;
}

.center{
    width:100%;
    text-align: center;
    margin-top:2rem;
    margin-bottom: 3rem;
}
.profile-img{
    background-image: url("/assets/Elias-vitor.png");
    background-size: contain;
    width: 320px;
    height: 320px;
    border: outset 10px  tomato;
     
}

