ul{
    display:flex;
    list-style-type: none;
    margin-top:1rem;
}

.profile-img{
    background-image: url("/assets/Elias-vitor.png");
    background-size: contain;
    width: 320px;
    height: 320px;
    border: outset 10px  tomato;
     
}
.skills{
    width: 33rem;
    height:15px;
    padding:5px;
    background:rgb(224, 224, 224) ;
    box-shadow: inset 5px 5px 8px #b1b1b1,
            inset -5px -5px 8px #ffffff;

    border-radius: 2rem;
    margin: 1.5rem;
}
.skills-title{
    display: flex;
    position: relative;
    top:33px;
    left: 27px;
}
.skills-progresso{
    position:absolute;
}
.porcento{
    position: relative;
    display: block;
    height:0.5rem;
    background: rgb(187, 44, 44);
    border-radius: 2rem;
    z-index: 0.5;
}

