<div class="container mt-5">
    <div class="center">
        <p>main info</p>
        <h2>About me</h2>
    </div>
    
    <div class="row">
    
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
    
            <div class="profile-img"></div>
            <div class="redes-socias">
    
                <ul>
                    <li><button><i class="bi bi-github"></i></button></li>
                    <li><button><i class="bi bi-twitter"></i></button></li>
                    <li><button><i class="bi bi-instagram"></i></button></li>
                    <li><button><i class="bi bi-linkedin"></i></button></li>
                </ul>
            </div>
    
        </div>
        <div class="col-sm-6">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, dolorem saepe? Itaque qui a non facilis sint, perferendis autem maiores similique cumque consequuntur laudantium ducimus hic ipsum expedita pariatur blanditiis!</p>
    
            <ul>
                <li><button>DonwloadCV</button></li>
                <li><button>hire me</button></li>
            </ul>
    
    
        </div>
    </div>
</div>