
  <label class="modal-show" for="modal-toggle" (click)="modalSwitch()"><i class="bi bi-list p-2"></i></label>
  <input type="checkbox" id="modal-toggle" class="modal-toggle">

<div class="wapper">

  <div class="d-grid mx-auto" >
    <button class="button-primary shadow mb-3 rounded-pill"  routerLink="home">Home</button>
    <button class="button-primary shadow mb-3 rounded-pill"  routerLink="about">About</button>
    <button class="button-primary shadow mb-3 rounded-pill"  routerLink="services">Services</button>
    <button class="button-primary shadow mb-3 rounded-pill" routerLink="po">Portifolio</button>
    <button class="button-primary shadow mb-3 rounded-pill" routerLink="Testimoinal">Testimoinal</button>
    <button class="button-primary shadow  rounded-pill" routerLink="contact">Contact</button>
  </div>

</div>

<app-settings-color></app-settings-color>
<app-theme></app-theme>
