
input[type="checkbox"]{
    position: absolute;
    display: none;
 
}
input[type="checkbox"]:checked ~.wapper{
      display: flex;
   
}
.modal-show{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    top: 0.6rem;
    right: 5rem;
    z-index: 1;
    cursor: pointer;
    
}

ul{
    list-style-type: none;
    margin: 0 auto;
}

button[type="button"]:active ~.wapper{
    display:none;
    transform: scale(0);
    transition: all linear 0.4s;
}
i.bi{
    
    position: relative;
    font-size: 2rem;
}