
  

<div class="position-relative modal">
  <div class="position-absolute start-50 translate-middle-x">
    <ul>
      <li><button class="button-primary shadow p-3 mb-2 bg-body rounded-pill">Home</button></li>
      <li><button class="button-primary shadow p-3 mb-2 bg-body rounded-pill">About</button></li>
      <li><button class="button-primary shadow p-3 mb-3 bg-body rounded-pill">Services</button></li>
      <li><button class="button-primary shadow p-3 mb-3 bg-body rounded-pill">Portifolio</button></li>
      <li><button class="button-primary shadow p-3 mb-3 bg-body rounded-pill">Testimonial</button></li>
      <li><button class="button-primary shadow p-3 mb-3 bg-body rounded-pill">Contact</button></li>
    </ul>
  </div>
</div>


