
<main>
    <div class="row">
      <div class="col-sm-6 col-md-3" id="Profile-rt">
        <div class="p-5">
          <div>
              <img src="../assets/imagen/Elias-vitor.png"class="rounded-circle w-100 border" alt="Elias-vitor-Profile">
          </div>
          <div class="text-center mb-5">
            <h1>Elias Vitor</h1>
            <h6>ENGENHERIO DA COMPUTAÇÃO</h6>
          </div>
          <div class="text-left mb-5">
            Gosto sempre de dar o meu melhor em tudo que faço atualmente sou estude engenharia da computação pela UFRPE ,conclui um curso técnico na Analise de Desenvolvimento de sistemas pela escola Estadual Técnica.
          </div>
          <div>
            <h5>Contato</h5>
          
              <ul>
                <li>
                    <a href="mailto:eliasvito.dev@gamil.com" target="_blank"><span class="fa fa-envelope"></span>
                    </a>              
                </li>
                <li>
                   <a href="tel:+55(81)991426794" target="_blank">
                     <span class="fa fa-phone-square"></span>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/hellyaxs/" target="_blank"><span class="fa fa-github"></span>
                    </a>
               </li>
               <li>
                  <a href="https://www.linkedin.com/in/elias-vitor-576064208/" target="_blank">    <span class="fa fa-linkedin"></span>
                  </a>
             </li>
            </ul>
  
          </div>
      
         

        </div>
    </div>
    <div class="col-sm-6 col-md-9" id="cloudsImg">
        <div class="row">
              <div class="col-12 mb-3 p-4"> 
                  <div class="row container mt-3">
                      <div class="col-md-12 col-lg-6">
                    <h2>EDUCAÇÃO</h2>
                    
                      <div class="row mb-3">
                          <div class="col-3">
                            <div class="block-years">2017-2019</div>
                          </div>
                          <div class="col-9">
                            ETE-Edson Mororó Moura
                            ANALISE DE DESENVOLVIMENTO DE SISTEMAS
                          </div>
                      </div>
                    
                    <div class="row">

                         <div class="col-3">
                          <div class="block-years">2020-2025</div>
                       </div>

                         <div class="col-9">
                           UFRPE- ENGENHERIA DA COMPUTAÇÃO
                         </div>
                      </div>
                         
                      </div>
                      <div class="col-lg-6 col-md-12">
                        <h2>HARDWARE SKILLS</h2>
                        <div class="wapper">
                          <img align="center" alt="LOGO-HTML" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg">
                          <img align="center" alt="LOGO-CSS" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg">
                          <img align="center" alt="LOGO-php" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/9f4f5cdb393299a81125eb5127929ea7bfe42889/icons/php/php-plain.svg">
                          <img align="center" alt="angular-php" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/9f4f5cdb393299a81125eb5127929ea7bfe42889/icons/angularjs/angularjs-original.svg">
                          <img align="center" alt="Bootstrap-php" height="30" width="40" src="https://raw.githubusercontent.com/devicons/devicon/9f4f5cdb393299a81125eb5127929ea7bfe42889/icons/bootstrap/bootstrap-plain.svg">
                          
                          
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-12 p-4" id="gradient">
            <app-lista-projetos></app-lista-projetos>
        </div>
        <div class="col-12 container p-5">
          <div class="row">
            <div class="col-6">
              <h2 class="mt-2">Idiomas</h2>
              INGLES
              <app-star></app-star>
            </div>
            <div class="col-6">
              <h2>HOBBIES</h2>

              <div class="wapper">
               <ul>
                 <li><i class="material-icons">sports_soccer</i></li>
                 <li><i class="material-icons">piano</i></li>
                 <li><i class="material-icons">games</i></li>
                 <li><i class="material-icons">movie</i></li>
               </ul>
                
                
                </div>
            </div>
          </div>
        </div>
    </div>
     
    </div>
 </div>
</main>