
.profile-img{
    background-image: url("/assets/Elias-vitor.png");
    background-size: contain;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border: outset 10px  tomato;
    
}
.container{
    
    display: grid;
    place-content: center;
    
}

h1{
    font-size: 54px;
}
.triangle-bottom-left {
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 0 0 50px;
    border-color: transparent transparent transparent #059c58;
}
.triangle-bottom-left::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    position:relative;
    bottom: 3.5rem;
    transform:translateX(-2.8rem);
    border-style: solid;
    border-width: 50px 0 0 50px;
    border-color: transparent transparent transparent #1df794;
}
.bounce-in-bottom{
    width: 6px;
    height:6px;
    border-radius: 50%;
    background: #ec9412;
    margin-bottom: 1rem;
}
.bounce-in-bottom::before{
    content:"";
    display:block;
    position: relative;
    top:2.6rem;
    width: 6px;
    height:6px;
    border-radius: 50%;
    background: #ec9412;
}
.Pontilhismo{
    position:absolute;
    top:14rem;
    right:12rem;
}
.figure{
    position:absolute;
    transform:translate(340px,-50px);
    width: 40px;
    height: 40px;
}
.rotate-center {
    position:absolute;
    top:3rem;
    left:3rem;
    width: 30px;
    height:30px;
    border: solid 4px #2eb1ed;
    z-index: 0.1;
	-webkit-animation: rotate-center 6s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite forwards;
	        animation: rotate-center 6s cubic-bezier(0.680, -0.550, 0.265, 1.550) infinite forwards;
}

@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  .spacing{
    margin-top: 140px;
    min-width:400px;
    
} 
  @media (max-width:1280px) {
      .Pontilhismo{
          opacity: 0;
      }
     
  }
 @media (max-width:600px){
    .spacing{
        margin-top: 50px;
    } 
 }