<div class="circle-in-circle"></div>
<div class="Pontilhismo">
    <ul>
        <li class="bounce-in-bottom"></li>
        <li class="bounce-in-bottom"></li>
    </ul>
</div>

<div class="row mx-auto mt-5 tracking-in-expand">
    
    <div class="col-sm-6 mt-5">
        <div class="container mt-4">
            <p>Hello</p>
            <h1 class="">I´m Elias Vitor</h1>
            <p>web desing & developer</p>
            <button class="button-primary shadow p-2" (click)="navegar()">More about Me</button>
        </div>
    </div>

    <div class="col-sm-6"> 
            <div class="profile-img"></div>
            <div class="figure">
                <svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#FF0066" d="M34.1,-52.1C38.7,-43.6,33.2,-26.3,40.2,-11.5C47.2,3.3,66.8,15.7,71.8,30.4C76.7,45.1,67.2,62.2,52.8,64.3C38.4,66.4,19.2,53.5,0.5,52.9C-18.2,52.2,-36.5,63.8,-42.5,59C-48.6,54.2,-42.4,33,-39.6,18.4C-36.7,3.8,-37,-4.2,-40.1,-18.8C-43.3,-33.4,-49.2,-54.6,-43,-62.6C-36.7,-70.6,-18.4,-65.4,-1.8,-62.9C14.7,-60.4,29.5,-60.6,34.1,-52.1Z" transform="translate(100 100)" />
                  </svg>
            </div>
    </div>
</div>


<div class="rotate-center"></div>
<div class="triangle-bottom-left"></div>



