
<div class="row mx-auto mt-5 tracking-in-expand">
    <div class="col-sm-6 mt-5">
        <div class="container mt-4">
            <p>Hello</p>
            <h1 class="">I´m Elias Vitor</h1>
            <p>web desing & developer</p>
            
            <button class="button-primary shadow p-2" (click)="navegar()">More about Me</button>
        </div>
    </div>
    <div class="col-sm-6">
       
            <div class="profile-img"></div>
        
    </div>
</div>


<div class="rotate-center"></div>
<div class="triangle-bottom-left"></div>


