
.profile-img{
    background-image: url("/assets/Elias-vitor.png");
    background-size: contain;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    border: outset 10px  tomato;
    
}
.container{
    
    display: grid;
    place-content: center;
    
}

.container::before{
    content: "";
    position: absolute;
    top:2rem;
    left: 3rem;
    width: 34px;
    height: 34px;
    border: solid 3px rgb(33, 33, 221);
    
    
   
}
