@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@500&display=swap');
/* You can add global styles to this file, and also import other style files */
@-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s backwards;
	        animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 1s backwards;
}
.button-primary{
    
    background: var(--button-background);
    box-shadow:   var(--button-box-shadow);
    padding:12px;
    text-align: center;
    width: 234px;
    height: 50px;
    border-radius: 3rem;
    border: none; 
    color:var(--color); 
    transition: all linear 200ms;
    
}
.button-circle{
    width: 35px;
    height: 35px;
    border-style: none;
    border-radius: 50%;
    background: var(--button-background);
    
}
.button-circle:hover{
    transform: scale(1.3);
    transition: all linear 200ms;
    
}
.button-primary:hover{
    transform: scale(1.1);
    transition: all linear 200ms;
    background: var(--button-background-hover);
    box-shadow:  var(--button-box-shadow-hover);
}
a{
    text-decoration: none;
    color:var(--color);
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  text-decoration:none;
  font-family: 'Source Sans 3', 'Arial Narrow', Arial, sans-serif;
  list-style-type: none;
}

i.bi{
    color: var(--color);
    
}
p{
    color:var(--color-p);

}
.theme-Dark{
    background-color: #2e2e2e;
    color:azure;
    --backgroudvar:#2e2e2e;
    --button-background: #242424;
    --button-box-shadow:  5px 5px 5px #121212, -5px -5px 5px #4a4a4a;
    --color:azure;
    --button-box-shadow-hover: 29px 29px 16px #0e0e0e,-29px -29px 16px #3a3636;
    transform: scale(1);
    transition: all linear 0.4s;
    
}
.theme-Light{
    background-color: rgb(224, 224, 224);
    color:black;
    --button-background: linear-gradient(145deg, #e6e6e6, #ffffff);
    --backgroudvar:rgb(224, 224, 224);
    --button-box-shadow:  5px 5px 10px #cfcfcf,-5px -5px 10px #ffffff;
    --color:black;
    --button-background-hover:linear-gradient(145deg, #ffffff, #e6e6e6);
    --button-box-shadow-hover: 5px 5px 10px #cfcfcf,-5px -5px 10px #ffffff;
    --color-p:rgba(78, 78, 78, 0.692);
     transform: scale(1);
     transition: all linear 0.4s;
    
}
.wapper{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    align-items: center;
    display: flex;
    z-index: 0.9;
    background-color:var(--backgroudvar);
    
    
    
}
.modal-show{
  
    background: var(--button-background);
    box-shadow:   var(--button-box-shadow);
    transition: all linear 300ms;
}
.circle-in-circle{
    position: absolute;
    top:-1rem;
    left:40%;
    width: 180px;
    height: 90px;
    background: #fb839e;
    border-radius: 0px 0px 180px 180px;
}
.circle-in-circle::after{
    content: "";
    position: relative;
    left:1.6rem;
    width: 130px;
    height: 65px;
    background-color: var(--backgroudvar);
    display: inline-block;
    border-radius: 0px 0px 130px 130px;
    transform: scale(1);
    transition: all linear 0.4s;
}
.bounce-in-bottom {
	-webkit-animation: bounce-in-bottom 6s ease-out infinite both;
	        animation: bounce-in-bottom 6s ease-out infinite both;
}
@keyframes scale-in-ver-top {
    0% {
      -webkit-transform: scaleY(0);
              transform: scaleY(0);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scaleY(1);
              transform: scaleY(1);
      -webkit-transform-origin: 100% 0%;
              transform-origin: 100% 0%;
      opacity: 1;
    }
  }
@-webkit-keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-bottom {
  0% {
    -webkit-transform: translateY(150px);
            transform: translateY(150px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(65px);
            transform: translateY(65px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(28px);
            transform: translateY(28px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(8px);
            transform: translateY(8px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
