@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "https://fonts.googleapis.com/css2? family = Rubik: wght @ 600 & display = swap";
/* You can add global styles to this file, and also import other style files */
:root{
    --texcolor:red;
}
.button-primary{
    padding:12px;
    border-radius: 25px 25px;
    border: none;
    background-color: black;
    color:--var(--texcolor)
    
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
i.bi{
    color: black;
    position: relative;
    width: 1rem;
    height: 1rem;
}
.theme-Light{
    background-color: #242424;
    color:azure;
    --button-background: linear-gradient(145deg, #e6e6e6, #ffffff);
    --button-box-shadow:  5px 5px 10px #cfcfcf,
    -5px -5px 10px #ffffff;
}
.theme-Dark{
    background-color: white;
    color:black;
    --button-background: #242424;
    --button-box-shadow:  18px 18px 36px #1b1b1b,
                 -18px -18px 36px #2d2d2d;
}
.modal-show{
  
    background: var(--button-background);
    box-shadow:  var(--button-box-shadow);
}
.modal-show:hover{
    background: linear-gradient(145deg, #ffffff, #e6e6e6);
    box-shadow:  5px 5px 10px #cfcfcf,
                 -5px -5px 10px #ffffff;
}
.modal-show:active{
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  5px 5px 10px #cfcfcf,
                 -5px -5px 10px #ffffff;
}
